<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


  <appSettings>
    <add key="key1" value="Sample" />
    <!-- DB 172.16.110.8-->
    <add key="MYSQL_SERVER_HOST" value="localhost" />
    <add key="MYSQL_SERVER_PORT" value="3306" />
    <add key="MYSQL_SERVER_USER" value="root" />
    <add key="MYSQL_SERVER_PWD" value="" />
    <add key="MYSQL_SERVER_DB" value="ocstoolinventorymgmt" />
   <add key="GaExpiry" value="1" />
   <add key="EqExpiry" value="1" />
   <add key="FromEmail" value="mtquser@outlook.com" />
   <add key="emailAccount" value="mtquser@outlook.com" />
   <add key="emailPassword" value="sgMTQ(*)638955" />
  <!--<add key="host" value="mail.smtp2go.com"/>
    <add key="port" value="2525"/>-->
    <add key="host" value="smtp-mail.outlook.com" />
    <add key="port" value="587" />
	  <add key="Mailoption" value="0" />
   <add key="CertificateFielpath" value="E:\DB-OCSMTQTMS-v1.2.1\DB-OCSMTQTMS-v1.2.1\" />
  </appSettings>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
